html, body {
	margin: 0;
	padding: 0;
}
li {
	float: left;
	list-style-type: none;
	background-color: rgb(60, 120, 216);
	width: 25%;

}

li a {
	display: block;
	text-decoration: none;
	text-align: center;
    padding: 14px 56px;
    color: white;
    font-family: sans-serif;
}
.nav {
	width: 100%;
	margin: 0;
	position: fixed;
	padding: 0;
}
.main{
	background-color: rgb(11, 184, 237);

}
#about {
	padding-bottom: 50px;
}
.project {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-left: 40px;
}
#map {
	width: 350px;
	height: 300px;
}
#printList {
	font-size: 3em;
	margin-bottom: 80px;
	margin-left: 30px;
}

#intro {
	padding-top: 120px;
	font-size: 3em;
	padding-bottom: 170px;
}
.typed {
	color: rgb(232, 228, 225);
	font-family: 'Fira Sans';
}
#python, #python2{
	margin-left: 30px;
	font-size: 2em;
}
#python2 {
	margin-left: 40px;
}


#briefIntro {
	padding-top: 20px;
	padding-left: 30px;
	width: 70%;
	display: inline-block;
}
.label {
	font-size: 3em;
	padding: 20px;
	padding-top: 50px;
	font-family: 'Fira Sans';
	color: rgb(232, 228, 225);

}
#myself {
	border: 55px solid white;
	padding: 10px;
	margin-left: 30px;
	display: inline-block;
}
.info {
	columns: 200px 2;
}
.click {
	background-color: rgb(11, 184, 237);
    color: white;
    text-decoration: underline;
    font-size: 0.8em;
}
.typed {
	width: 30%;
	margin-right: 0px;
	display: inline-block;
	margin-top: -50px;
}
#csm {
	margin-top: 20px;
	display: inline-block;
}
#seal {
	display: inline-block;
	margin-left: 50px;
}
#logo {
	width: 180px;
	height: 180px;
}
.in {
	font-size: 2em;
	margin-right: 50px;
	padding: 10px;
	border: 30px solid white;
	border-radius: 20px;
	margin-bottom: 150px;

}
.description {
	width: 90%;
	display: inline-block;
	margin-left: 10px;
}
#select, #select3 {
	font-size: 2em;
	margin-left: 20px;
}

#SQL {
	width: 200px;
	height: 200px;
	margin-left: 30px;
}
.fill {
	width: 80%;
}

#scheme {
	width: 300px;
	height: 250px;
	margin-left: 30px;
}
#mentor, #mayor, #coder{
	width: 90%;
	margin-left: 10px;
	display: inline-block;
}


#myself {
	width: 450px;
	height: 450px;
}
#blazer1, #blazer2{
	margin-top: 250px;
	z-index: 1;
	position: absolute;
	margin-left: 150px;
	width: 50px;
}
#blazer2 {
	margin-left: 460px;
}

.hidden {
	display: none;
}
#list {
	width: 700px;
	height: 100px;
	margin-left: 50px;
	margin-bottom: 100px;
}
#senator, #senior, #group {
	border-radius: 30px;
	border: 20px solid white;
	width: 350px;
	height: 250px;
	margin-left: 50px;
}
#snap {
	height: 100px;
	width: 200px;
	margin-left: 50px;
	margin-bottom: 100px;
}
#map {
	width: 50%;
	height: 400px;
	margin: auto;
	margin-left: 350px;
}
.contactinfo {
	text-align: center;
	padding: 10px;
	font-size: 2em;
}
#last {
	padding-bottom: 80px;
}

.pic {
	height: 200px;
	width: 200px;
	margin-left: 50px;
	border: 45px solid white;
	border-radius: 180px;
	display: inline-block;

}
